.introduction-text h1{
    font-weight: bold;
}

.contact{
    width: 100vw;
    height: 55vh;
    background-color: #eae6de;;
}

.contact .container{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width:70%;
}

.left-contact{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 85%;
    font-family: 'League Spartan', sans-serif; 
}


.contact header{
    font-size: 35px;
    font-weight: bold;
}

.contact-data{
    padding-top: 10%;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
    width: 90%;
    line-height: 200%;
}