.contact{
    width: 100vw;
    height: 100vh;
    background-color: #38a3a5;
}


.contact .container{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

.contact header{
    padding-top: 20px;
    font-size: 40px;
    font-weight: bold;
}

.contact-data{
    width: 40%;
}

.contact-form-photo{
    width: 500px;
    height: 350px;
    background-image: url("photos/form-photo.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 10%;
    background-color: red;
}