header{
    padding-top: 20px;
    font-size: 40px;
    font-weight: bold;
}

.statistic {
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.statistic .container{
    display:block;
    height: 100%;
}

.statistic-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: calc(100% - 60px);
}

.statistic-example{
    height: 25%;
}

.statistic h1{
    font-size: 25px;
}

.statistic p{
    color: red;
    font-size: 35px;
}

.syllabus{
    width: 100vw;
    height: 100vh;
    background-color: #e9c46a;
}

.syllabus .container{
    display: block;
    height: 100%;
}

.options{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100% - 60px);

}

.questions{
    width: 100vw;
    height: 100vh;
    background-color: #80ed99; 
}

.questions .container{
    display: block;
    height: 100%;
}

.answers{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: calc(100% - 60px);
}