.introduction{
    font-weight: bold;
}

header{
    padding-top: 20px;
    font-size: 40px;
    font-weight: bold;
}

.mentor{
    width: 100vw;
    height: 100vh;
    background-color: #f3eed9;
}

.mentor .container{
    display:block;
    height: 100%;
}

.mentor header{
    font-family: 'League Spartan', sans-serif; 
}
.mentor-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:calc( 100% - 60px);
}

.mentor-text{
    width: 50%;
    line-height: 130%;
    font-family: 'Roboto Mono', monospace;
}

.mentor-photo{
    height: 50%;
    width: 40%;
    background-image: url("../photos/robert_maklowicz.jpg");
    background-position: center;
    background-size: cover;
    border-radius:5%;
}
.trainers{
    width: 100vw;
    height: 100vh;
    background-color: #df3046;
}

.trainers .container{
    display:block;
    height: 100%;
}

.trainers header{
    font-family: 'League Spartan', sans-serif; 
}

.trainers-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100% - 60px);
}

.trainers-details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 25%;
}

.trainers-details h1{
    font-family: 'League Spartan', sans-serif; 
    font-size: 30px;
    font-weight: bold;
}
.trainers-photo1{
    height: 50%;
    width: 100%;
    background-image: url("../photos/magda_gessler.jpg");
    background-position: center;
    background-size: cover;
    border-radius:5%;
}

.trainers-photo2{
    height: 50%;
    width: 100%;
    background-image: url("../photos/gordon_ramsay.jpg");
    background-position: center;
    background-size: cover;
    border-radius:5%;
}

.trainers-photo3{
    height: 50%;
    width: 100%;
    background-image: url("../photos/jamie_oliver.jpg");
    background-position: center;
    background-size: cover;
    border-radius:5%;
}