.introduction-text{
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
}

.form-sign{
    width: 100vw;
    height: 140vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #073538;
}

.form-sign .container{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 75%;
    width: 80%;
    background-color:#ffcc00;
}

.left-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    height: 80%;
    font-family: 'League Spartan', sans-serif;
    margin-left: 20px;
}

.form-sign header{
    font-size: 60px;
    font-weight: bold;
    color: black;
}

.right-form{
    width: 28%;
    height: 70%;
    background-image: url("../photos/zapisy-photo.jpg");
    background-position: center;
    background-size: cover;
}

.form-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 90%;
    width: 80%;
    color:black;
    font-size: 15px;
}

.form-box label{
    font-size: 21px;
    font-weight: bold;
}

.form-box form{
    display: flex;
    flex-direction: column;
}

input{
    margin: 3px 0 3px 0;
    width: 350px;
    height: 35px;
    font-size: 100%;
    color: black;
    background-color: white;
}

select{
    margin: 5px 0 0 0;
    height: 35px;
    width: 130px;
}

button{
    margin-left: 30px;
    height: 35px;
    width: 100px;
    font-weight:bold;
}

